<footer class="footer mt-auto py-3">
  <div class="footer-container">
    <a href='https://github.com/justindaiello/justindaiello.github.io' target='_blank' rel='noopener'  class='fa fa-github'></a>
    <a href='https://www.instagram.com/aiello.justin/'  target='blank' rel='noopener' class='fa fa-instagram'></a>
    <a href='https://www.linkedin.com/in/jdaiello/' target='blank' rel='noopener' class='fa fa-linkedin'></a>
  </div>
</footer>
