<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">the farmStand</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/new">Farmers</a>
      </li>
    </ul>
</div>
<% if (!currentUser) {%>
<form method='GET' action='/login'>
  <button class="btn btn-success" type='submit'>Log In</button>
</form>
<% } else {%>
  <form method='GET' action='/logout'>
    <button class="btn btn-light" type='submit'>Log Out</button>
  </form>  <% } %>
</nav>
