<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- nav-bar -->
    <% include ../partials/nav.ejs %>
    <div class="container">
      <h1 class="text-center err-msg">OOPS!</h1>
      <!-- error message from the error handler -->
      <h2 class="text-center err-msg"><%=message%></h2>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</html>
