<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>FarmStand</title>
  </head>
  <body>
    <!-- navbar -->
  <% include ../partials/nav.ejs %>
  <div class='container-fluid'>
    <!-- information for buyers -->
    <div class='buyer-info'>
      <p class='eater-header'>shop. eat. save.<br/><small class='eater-desc'>This is some test text to make sure that this works</small></p>
    </div>
    <hr class='line'>
  </div>
  </body>
</html>
