<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>FarmStand</title>
  </head>
  <body>
    <!-- navbar -->
  <% include ../partials/nav.ejs %>
  <div class='container-fluid index-container'>
    <!-- information for buyers -->
    <div class='buyer-info'>
      <p class='eater-header'>shop. eat. save.<br/><small class='eater-desc'>Tired of showing up late to the farmers market and missing out on the best veggies? Reserve veggies from your favorite farmers and pick them up anytime at market.</small></p>
    </div>
    <hr class='line'>
  </div>
  </body>
</html>
