<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <!-- navbar -->
      <% include ../partials/nav.ejs %>
    <div class="container login-form">
      <form method="POST" action="/login">
        <div class="login-top form-group row">
          <label for="email" class="col-sm-2 col-form-label login-text">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
          </div>
        </div>
        <div class="login form-group row">
          <label for="passwprd" class="col-sm-2 col-form-label login-text">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="login form-group row">
          <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
