<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class='container'>
    <div class='photo-box'>
    <% for (let i = 0; i < product.length; i ++) { %>
    <div class='photos'>
      <img src="<%=product[i].img%>" alt="">
      <p><%=product[i].name%></p>
    </div>
    <% } %>
  </div>
    </div>
  </body>
</html>
