<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <!-- <div class='container'> -->
    <div class='photo-box'>
    <% for (let i = 0; i < product.length; i ++) { %>
    <div class='photos view overlay zoom'>
      <a href="#"><img class='img-fluid' src="<%=product[i].img%>" alt=""></a>
      <p class='product-desc'><%=product[i].name%> $<%=product[i].price%>/lb</p>
    </div>
    <% } %>
  </div>
  </body>
</html>
