:root {

  --white: rgb(255,255,255);
 rgba(245,197,54,.4));
  --blue: linear-gradient(rgba(153,207,229,1), rgba(153,207,229,.4));
  --black: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.4));
}


.navbar {
  /* visual */
  background: var(--blue);
}

.collapse {
  /* box-model */
  padding-right: 1em;
  /* positioning */
  justify-content: flex-end;
}

.buyer-info {
  /* visual */
  background-image: url("https://i.imgur.com/0goMThl.jpg");
}

.farmer-info {
  /* visual */
  background-image: url("https://i.imgur.com/pXmQYGH.jpg");
  background-position: center;
}

.buyer-info,
.farmer-info {
  /* box-model */
  width: 80%;
  height: 15em;
  margin: 0 auto;
  margin-top: 2em;
  display: flex;

  /* positioning */
  position: relative;
  flex-direction: column;
  justify-content: flex-end;

  /* visual */
  background-size: cover;
  border-radius: 12px;
}

.eater-header,
.farmer-header {
  /* box-model */
  width: 100%;
  height: 3em;
  margin-bottom: 0;
  padding-top: .75em;

  /* positioning */
  position: absolute;

  /* typography */
  text-align: center;

  /* visual */
  color: var(--white);
  background: var(--blue);
  transition: height .5s;
}

.eater-desc,
.farmer-desc {
  /* visual (hidden) */
  opacity: 0;
}

.show-desc .eater-header,
.show-desc .farmer-header {
  /* box-model */
  height: 12em;
}

.show-desc .eater-desc,
.show-desc .farmer-desc {
  /* visual (unhide) */
  opacity: 1;
}
