:root {

  --white: rgb(255,255,255);
  --blue: radial-gradient(rgba(153,207,229,1), rgba(153,207,229,.4));
  --green: linear-gradient(rgba(45,71,35,.5), rgba(45,71,35,.4));
}

body {
  /* visual */
  background: url('https://i.imgur.com/pXmQYGH.jpg');
  background-size: cover;
  background-position: center;

  /* typography */
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  /* visual */
  background: var(--green);
}

.navbar-brand {
  /* typography */
  font-size: 40px;
}

.collapse {
  /* box-model */
  padding-right: 1em;
  /* positioning */
  justify-content: flex-end;
}

.buyer-info {
  /* visual */
  /* background-image: url("https://i.imgur.com/c4hAQqW.jpg"); */
}

.buyer-info {
  /* box-model */
  width: 80%;
  height: 15em;
  margin: 0 auto;
  margin-top: -2em;
  display: flex;

  /* positioning */
  position: relative;
  flex-direction: column;
  justify-content: flex-end;

  /* visual */
  background-size: cover;
  border-radius: 12px;
}

.eater-header {
  /* box-model */
  width: 100%;
  height: 3em;
  margin-top: 2em;
  margin-bottom: 0;
  padding-top: .75em;

  /* positioning */
  position: absolute;

  /* typography */
  text-align: center;
  font-size: 4em;

  /* visual */
  color: var(--white);
  background: var(--green);
  border-radius: 1em;
  transition: height .5s;
}

.eater-desc {
  /* visual (hidden) */
  opacity: 0;
}

.show-desc .eater-header {
  /* box-model */
  height: 5em;
}

.show-desc .eater-desc {
  /* visual (unhide) */
  opacity: 1;
}

.line {
  /* box-model */
  margin-top: 14em;

  /* positioning */
  align-self: flex-end;

  /* visual */
  background: white;
}

/* shop page */
.photo-box {
  /* box-model */
  display: flex;
  padding-top: 3em;
  width: 100%;

  /* positioning */
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  /* visual */
  background: var(--green)
}

.photos {
  /* box-model */
  display: flex;
  width: 33%;
  overflow: hidden;

  /* positoining */
  flex-direction: column;
  align-items: center;
}

.photos img {
  /* box-model */
  width: 50%;
  height: auto;

  /* visual */
  border: 3px solid rgba(255, 255, 255, 0.4);
  transition: 0.5s;

}

.photos img:hover {
  /* visual */
  border: 3px solid rgba(255, 255, 255, 1)
}

.photos:hover .pop-container {
  /* visual */
  /* opacity: 1; */
}

.product-desc {
  /* typography */
  font-size: 1.5em;

  /* visual */
  color: var(--white);

}
